.card {
    container-name: card;
    --archetype: attr(data-archetype);
    --price: attr(data-price type(<number>));
    --type: attr(data-type);
}

/* Types */
@container style(--type: "Effect Monster") {
    .card-type {
        color: orange;
    }
}

@container style(--type: "Spell Card") {
    .card-type {
    color: lightblue;
    }
}

@container style(--type: "Trap Card") {
    .card-type {
        color: plum;
    }
}

/* Prices */
@container style(--price > 1) {
    .card-price {
        color: red;
    }
}

@container style(--price < 1) {
    .card-price {
        color: orange;
    }
}

@container style(--price < 0.50) {
    .card-price {
        color: greenyellow;
    }
}

