@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hdr-gradient: linear-gradient(
    to top in oklab,
    rgb(247, 97, 153) 0%,
    oklch(0% 0.12 298)  31%
  );
  --sdr-gradient: linear-gradient(to top, #f7619a 1%, #02000d 18%);


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--hdr-gradient);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --hdr-gradient: linear-gradient(
      to top in oklch,
      oklch(95% 0 75),
      oklch(100% 0.18 307)
    );
    --sdr-gradient: linear-gradient(to top, #eee, #fdf);

    :root::before {
      background: var(--hdr-gradient);
    }
  }
}